@model IEnumerable<Entity.Models.items>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>




<p>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#insertModal"> New Item</button
    @await Html.PartialAsync("insertitem",new items())
    </p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantity)
            </td>
            <td>
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="@("#editModal-" + @item.Id)" >edit</button>  
                    <button type="button" class="btn btn-danger" data-toggle="modal" data-target="@("#deleteModal-" + @item.Id)">Delete</button>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="@("#detailModal-" + @item.Id)">Detail</button>
                    @await Html.PartialAsync("edititem",item)
                    @await Html.PartialAsync("itemdetails",item)
                    @await Html.PartialAsync("deleteitem",item)

            </td>
        </tr>
}
    </tbody>
</table>
