@model Entity.Models.book

<dl class="row">
    <dt class="col-sm-2"> Id </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Id) 
    </dd>
    <dt class="col-sm-2">title </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.title)
    </dd>
    <dt class="col-sm-2"> info</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.info)
    </dd>
    <dt class="col-sm-2">bookquantity</dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.bookquantity)
    </dd>
    <dt class="col-sm-2">price </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.price)
    </dd>
    <dt> Pic </dt>
    
</dl>
<p style="color:red"> @ViewData["message"]</p>
<form asp-action="Create">
    <div class="form-group">
        <label for="quantity" class="control-label">Quantity</label>
        <input name="quantity" class="form-control" />

    </div>
    <input type="submit" value="Buy" class="btn btn-primary" />
</form>
